<app-navbar></app-navbar>
<input type="text" placeholder="Search" [ngModel]="store.searchTerm()" (ngModelChange)="store.searchTerm.set($event)" class="input">
<input type="number" [ngModel]="store.ageFrom()" (ngModelChange)="store.ageFrom.set($event)" class="input">
<input type="number" [ngModel]="store.ageTo()" (ngModelChange)="store.ageTo.set($event)" class="input">
<input type="date" [ngModel]="store.createdFrom()" (ngModelChange)="onCreatedChanged($event, createdTo.value)" #createdFrom="ngModel" class="input">
<input type="date" [ngModel]="store.createdTo()" (ngModelChange)="onCreatedChanged(createdFrom.value, $event)" #createdTo="ngModel" class="input">

<select [(ngModel)]="group" (ngModelChange)=onGroupChange($event) class="select">
  <option [value]="null">All groups</option>
  <option *ngFor="let group of groups" [value]='group'>{{group}}</option>
</select>

<button (click)="store.resetFilters()" class="btn">Clear filters</button>

<app-generic-grid
  [data]="store.students()"
  [columns]="studentsColumns"
  [page]="store.page()"
  [pageSize]="store.pageSize()"
  [total]="store.total()"
  (pageChanged)="onPageChange($event)"
  (edit)="onEditChanged($event)"
>

</app-generic-grid>
