@if(data().length) {
  <table class="table">
    <thead class="table-header">
    @for(col of columns(); track col.key){
      <th class="table-header__label">{{col.label}}</th>
    }
    </thead>
    <tbody>
      @for(row of data(); track row.id){
        <tr class="table-row">
          @for (col of columns(); track col.key){
            <td class="table-row__cell">{{row[col.key]}}</td>
          }
        </tr>
      }
    </tbody>
  </table>

  <div class="navigation">
    <button [ngClass]="page() == 1 ? 'disabled navigation-btn' : 'navigation-btn'" [disabled]="page() == 1" (click)="previous()">Prev</button>
    <p>{{page()}} from {{totalPages()}}</p>
    <button [ngClass]="page() == totalPages() ? 'disabled navigation-btn' : 'navigation-btn'" [disabled]="page() == totalPages()" (click)="next()">Next</button>
  </div>
}
@else {
  <p>No records</p>
}

