.table {
  width: 100%;
  font-size: 24px;

  &-header {
    background-color: rgba(200, 199, 199, 0.35);

    &__label {
      padding: 10px;
    }
  }

  &-row{
    border: 1px solid rgb(241, 240, 240);

    &__cell{
      text-align: center;
      padding: 5px;
    }
  }
}

.navigation {
  display: flex;
  justify-content: end;
  padding: 10px;

  &-btn {
    margin: 10px;
    background-color: rgba(200, 199, 199, 0.35);
    color: rgb(6, 86, 128);
    border: none;
    cursor: pointer;
  }
}

.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
