.board {
  display: flex;
  gap: 12px;
}

.column {
  flex: 0 0 300px;
  width: 250px;
  height: 100%;
  padding: 10px;
  background-color: #ededea;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.card {
  margin: 5px;
  padding: 0 10px;
  border: 1px rgba(50, 50, 48, 0.25) solid;
  border-radius: 4px;
}

.group-name {
  font-weight: bold;
  font-size: 22px;
}

.group-length {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 205, 205);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.group-length-number {
  justify-content: center;
}

.card {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: start;
  padding: 10px;

  &-btn {
    margin: 10px;
    background-color: rgba(200, 199, 199, 0.35);
    color: rgb(6, 86, 128);
    border: none;
    cursor: pointer;
  }
}

.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
